	/**
		a:link {color:#FF0000;}     未被访问的链接 
		a:visited {color:#00FF00;}  已被访问的链接 
		a:hover {color:#FF00FF;}    鼠标指针移动到链接上 
		a:active {color:#0000FF;}   正在被点击的链接 
	**/

	
	{
	background:none repeat scroll 0% 0%;/**background:none repeat scroll 0% 0% #0E2426;**/
	}
	
	h1
	{
	margin-bottom:15px;
	height:50px;
	line-height:50px;
	text-align:center;
	font-size:48px;
	color:#FFF;
	}
	
	.center
	{
	width:1000px;
	margin:0 auto;
	background:#fff;
	opacity: 0.5;
	}
	
	/*Copyright*/
	.copr
	{
	display:none;
	}
	
	#footer {
	text-align: center;
	min-height: 15px;
	_height: 15px;
	border-top: 1px solid black;
	margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	}
