

	body
	{
	//background:#a9d06b;
	background-image: url("../images/bg.png");

	background-repeat: no-repeat;
	background-attachment:fixed;
	}
	
	h1
	{
	margin-bottom:15px;
	height:50px;
	line-height:50px;
	text-align:center;
	font-size:48px;
	color:#FFF;
	}
	
	.center
	{
	width:1000px;
	margin:0 auto;
	background:#fff;
	opacity: 0.5;
	}
	
	/*Copyright*/
	.copr
	{
	display:none;
	}
	
	#footer {
	text-align: center;
	min-height: 15px;
	_height: 15px;
	border-top: 1px solid black;
	margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	}
