			/* 浮动导航栏 开始*/ 
			#floatMenu 
			{
				padding-top: 0px; 

				position: absolute; 
				top: 250px; 
				left: 0px; 
				margin-left: 0px; 
				width: 80px; 
			} 
			#floatMenu ul 
			{
				text-align: center;
				background-color: rgba(0, 0, 0, 0.8); 
				margin-left: 0px;  
				list-style-type: none; 
				padding:0px;
			} 
			#floatMenu ul li a 
			{ 
				
				display: block; 
				text-decoration: none; 
				color: #FFF; 
			} 
			#floatMenu ul li a:hover 
			{ 
				color: #fff; 
				background-color: #ff8000;				
			} 
			#floatMenu ul.menu1 li a:hover 
			{ 
				border-color: #09f; 

			} 
			/* 浮动导航栏 结束*/ 