			/* 浮动导航栏 开始*/ 
			#floatMenu 
			{
				opacity: 0.8; 
				padding-top: 5px; 
				background-color:#000; 
				border: 1px solid #000; 
				position: absolute; 
				top: 250px; 
				left: 5px; 
				margin-left: 0px; 
				width: 86px; 
			} 
			#floatMenu ul 
			{
				text-align: center;
				opacity: 0.8; 
				margin-left: 0px; 
				background-color:#000; 
				list-style-type: none; 
				padding:10px;
			} 
			#floatMenu ul li a 
			{ 
				
				display: block; 
				text-decoration: none; 
				color: #FFF; 
			} 
			#floatMenu ul li a:hover 
			{ 
				color: #fff; 
				background-color: #ff8000;
				padding:1px;				
			} 
			#floatMenu ul.menu1 li a:hover 
			{ 
				border-color: #09f; 
				padding:1px;
			} 
			/* 浮动导航栏 结束*/ 