		body
		{
		background-image: url("../images/youge_bg.gif");
		/* background-repeat: no-repeat; */
		/* background-attachment:fixed; */
		/* background-size:cover; */
		}

		#home_header
		{
		margin: 10px 0px 0px;
		height: 43px;
		}
		#header_title
		{
		max-width: 60em;
		padding: 0px;
		margin: 30px auto;
		/**background:#F57900;**/
    	background-color:rgba(0, 0, 0, 0.04);
		height: 43px;

		box-shadow: 1px 2px 5px #888;
		border-radius:8px;
		}
		#header_title li
		{
		display:inline;
		float:left;
		}
		#header_title ul
		{
		list-style-type:none;
		margin:0px 0px 0px 30px ;/*u r d l*/
		padding:0;
		overflow:hidden;
		list-style-type:none;
		}

		#header_title a:link,a:visited
		{
		font-size: 24px;
		display:block;
		width:100px;
		font-weight:bold;
		color: #888;
		background-color:rgba(0, 0, 0, 0);
		text-align:center;
		padding:7px;
		text-decoration:none;
		}
		#header_title a:hover,a:active
		{
		background-color: rgba(0, 0, 0, 0.2);
		color:#000;
		}
		#home_main
		{
		max-width: 60em;
		min-height: 60em;
		margin: 15px auto;
		/**background-color: #2E3436;**/
		background-color:rgba(255, 255, 255, 0);
		padding: 0px;
		position: relative;
		color:#000;
		}


		#home_main a:link,a:visited
		{
			text-decoration:none;
			color: #000;
		}
		#home_main a:hover,a:active
		{
			text-decoration: underline;
			color:#00aa00;
		}

		#home_linkbar
		{
		max-width: 60em;
		margin: 20px auto 20px auto;
		padding: 0px;
		clear: both;
		/**background: none repeat scroll 0% 0% #111;**/
		background-color:rgba(0, 0, 0, 0.04);

		font-weight: bold;
		text-align: center;
		min-height: 8em;

		box-shadow: 1px 2px 8px #888;
		border-radius:8px;
		}
		#home_linkbar a
		{
		text-decoration:none;
		}




		/**
		a:link {color:#FF0000;}     未被访问的链接
		a:visited {color:#00FF00;}  已被访问的链接
		a:hover {color:#FF00FF;}    鼠标指针移动到链接上
		a:active {color:#0000FF;}   正在被点击的链接
		**/



	     h1
	     { 
	     margin-bottom:15px;
	     height:50px;
	     line-height:50px;
	     text-align:center;
	     font-size:48px;
	     color:#000;
	     }
         
	     .center
	     { 
	     width:60em;
	     margin:auto;
	     background-color:rgba(255, 255, 255, 0.04);
	     border-radius:10px;
	     }
	     
	     .copr
	     { 
	     display:none;
	     }
         

		.newsmode
		{
		border-style: solid;
		border-width: 0px 0px 1px 0px;
		border-bottom-color: #00ff00;
		background-color: rgba(0, 0, 0, 0.04);
		height: 60px;
		width: 600px;
		margin: 10px auto 10px auto;
		padding: 5px 0px 0px 5px;
		border-radius:8px;
		}
		.container_for_newsmode
		{
		width: 640px;
		float: left;
		height:640px;
		background-color: rgba(0, 0, 0, 0.04);

		box-shadow: 1px 1px 8px #888;
		border-radius:8px;
		}
		.container_for_content
		{

		width: 290px;
		background-color: rgba(0, 0, 0, 0.04);
		float: left;
		margin: auto auto 20px 25px;
		height: 1000px;

		box-shadow: 1px 1px 8px #888;
		border-radius:8px;
		}

		.newsmode a:link,a:visited
		{
		text-decoration:none;
		color: #888;
		}
		.newsmode a:hover,a:active
		{
		text-decoration: underline;
		}
		.newsmode a
		{
			color:#000;
		}
		
		/* 用于文章摘要 */
		.BSHARE_TEXT
		{
		width:700px;
		box-shadow: 0px 0px 8px #888;
		border-radius:8px;
		padding:10px 10px 10px 10px;
		}

	    
		/* 关于作者的信息 */
		#postamble
         {
         width:480px;
		 margin:25px 0px 25px 0px;
         padding:10px 10px 10px 10px;
         background-color:rgba(0, 0, 0, 0.04);
         box-shadow: 0px 0px 8px #888;
         border-radius:8px;
        }
		#aboutme
         {
		 margin:5px 5px 5px 5px;
         padding:25px 25px 10px 25px;
         background-color:rgba(0, 0, 0, 0.04);
         box-shadow: 0px 0px 3px #888;
         border-radius:8px;
        }